          <%
             tot = 0
             errs = 0
             success = 0
             tps_max_entry = 0
             tps_max_exit = 0
             tps_last_entry = 0
             tps_last_exit = 0
          %>
          <% sum_metrics.each do |met| %>
              <%
                 met_max_entry = 0
                 if !met.max_entry_tps.nil?
                   met_max_entry = met.max_entry_tps
                 end
                 met_tps_entry = 0
                 if !met.last_entry_tps.nil?
                   met_tps_entry = met.last_entry_tps
                 end
                 met_max_exit = 0
                 if !met.max_exit_tps.nil?
                   met_max_exit = met.max_exit_tps
                 end
                 met_tps_exit = 0
                 if !met.last_exit_tps.nil?
                   met_tps_exit = met.last_exit_tps
                 end
                 tot = tot + met.total_count
                 errs = errs + met.error_count
                 success = success + met.success_count
                 tps_max_entry = tps_max_entry + met_max_entry
                 tps_last_entry = tps_last_entry + met_tps_entry
                 tps_max_exit = tps_max_exit + met_max_exit
                 tps_last_exit = tps_last_exit + met_tps_exit
              %>
              <tr>
                <td><%= met.msg_name %></td>
                <td><%= met.total_count %></td>
                <td style="color:green"><%= met.success_count %></td>
                <td style="color:red"><%= met.error_count %></td>
                <%  if met.api.nil? %>
                    <td><%= met.ip %></td>
                <% else %>
                    <td><%= met.api.display_name %> (<%= met.ip %>)</td>
                <% end %>
                <td><%= met.last_entry_tps %></td>
                <td><%= met.last_exit_tps %></td>
                <td><%= met.max_entry_tps %></td>
                <td><%= met.max_exit_tps %></td>
                <td><%= "#{time_ago_in_words(met.updated_at)} ago " %></td>
              </tr>
          <% end %>
          <% if sum_metrics.size > 0 %>
              <tr>
                <td><strong><%= sum_metrics.first.msg_name %></strong></td>
                <td><strong><%=tot %></strong></td>
                <td style="color:green"><strong><%= success %></strong></td>
                <td style="color:red"><strong><%= errs %></strong></td>
                <td>&nbsp;</td>
                <td><strong><%= (tps_last_entry / sum_metrics.size).round %></strong></td>
                <td><strong><%= (tps_last_exit / sum_metrics.size).round %></strong></td>
                <td><strong><%= (tps_max_entry / sum_metrics.size).round %></strong></td>
                <td><strong><%= (tps_max_exit / sum_metrics.size).round %></strong></td>
                <td>&nbsp;</td>
              </tr>
          <% end %>
