<h4>FI Metrics</h4>
<hr/>
<h5>FI Totals</h5>

<div class="row-fluid">
  <div class="span4">
    <div class="alert alert-info">
      <span class="badge pull-right success"><%= @totalCount %></span>
      Total Count
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-success">
      <span class="badge pull-right"><%= @successCount %></span>
      Success Count
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-danger">
      <span class="badge pull-right"><%= @errorCount %></span>
      Error Count
    </div>
  </div>
</div>
<hr/>

<h5>FI details</h5>
<%= render "list_with_metrics", {:fis => @fis} %>

<hr/>

<div class="row-fluid" style="margin-bottom:10px;">
  <div class="span12">
    <a href="<%= admin_fimetrics_deleteall_path %>" class="btn btn-small btn-primary">Delete Metrics</a>
    <a href="<%= admin_fimetrics_reset_path %>" class="btn btn-small btn-primary">Reset Metrics</a>
  </div>
</div>
