<table class="table">
  <thead>
  <tr>
    <th>Display Name</th>
    <th>URL</th>
    <th>Type</th>
    <th>Ignore</th>
    <th>Last Ping</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% fis.each do |fi| %>
      <tr>
        <td><%= fi.display_name %></td>
        <td><%= fi.url %></td>
        <td><%= fi.fi_type %></td>
        <td><%= fi.ignore %></td>
        <td><%= "#{time_ago_in_words(fi.last_ping)} ago " %></td>
        <td>
            <%= link_to 'Edit', edit_fi_path(fi), class: "btn btn-mini btn-primary" %>
            <%= link_to 'Destroy', fi, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger", style: "color:white;" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>