    <h5>FI Counts</h5>
    <div class="row-fluid">
      <div class="span12">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Success</th>
            <th>Errors</th>
            <th>Type</th>
            <th>Who</th>
            <th>IP</th>
          </tr>
          </thead>
          <tbody>
          <% if @fis.size > 0 %>
          <% @fis.each do |fi| %>
              <tr>
                <td><%= fi.msg_name %></td>
                <td><%= fi.total_count %></td>
                <td style="color:green"><%= fi.success_count %></td>
                <td style="color:red"><%= fi.error_count %></td>
                <td><%= fi.fi_type %></td>
                <td><%= fi.fi_org %></td>
                <%  if fi.fi.nil? %>
                    <td><%= fi.ip %></td>
                <% else %>
                    <td><%= fi.fi.display_name %> (<%= fi.ip %>)</td>
                <% end %>
              </tr>
          <% end %>
          <% else %>
              <tr><td colspan="7">No FI details available at this time</td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
