<%
   fis = Hash.new
   if @fis && @fis.size > 0
     fi_count = 0
     @fis.each do |fi|
        fi_obj = fis[fi.msg_name]
        if fi_obj.nil?
          fi_obj = MetricHolder.new
        end
        fi_obj.name = fi.msg_name
        fi_obj.add_to_total(fi.total_count)
        fi_obj.add_to_success(fi.success_count)
        fi_obj.add_to_errors(fi.error_count)
        fi_obj.add_to_max_entry_tps(fi.max_entry_tps)
        fi_obj.add_to_max_exit_tps(fi.max_exit_tps)
        fi_obj.add_to_last_entry_tps(fi.last_entry_tps)
        fi_obj.add_to_last_exit_tps(fi.last_exit_tps)
        fis[fi.msg_name] = fi_obj
     end
   end
%>
    <div id="fi_metrics">
    <h5>FI Counts</h5>
    <div class="row-fluid">
      <div class="span12">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Success</th>
            <th>Errors</th>
            <th>Max Entry</th>
            <th>Max Exit</th>
          </tr>
          </thead>
          <tbody>
          <%
             fi_group = fis.values
             if fi_group && fi_group.size > 0
             fi_group.each do |fi| %>
              <tr>
                <td><%= fi.name %></td>
                <td><%= fi.total %></td>
                <td style="color:green"><%= fi.success %></td>
                <td style="color:red"><%= fi.error %></td>
                <td><%= fi.max_entry_tps %></td>
                <td><%= fi.max_exit_tps %></td>
              </tr>
          <% end %>
          <% else %>
              <tr><td colspan="7">No FI details available at this time</td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span12">
          <a href="<%= dashboard_fi_reset_path %>" class="btn btn-small btn-primary">Delete and Reset Metrics</a>
        </div>
      </div>
    </div>
</div>
